<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>EmailServlet</servlet-name>
        <servlet-class>EmailServlet</servlet-class>
        <init-param>
            <param-name>from</param-name>
            <param-value>sample.id1192@gmail.com</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>Amrita@12345</param-value>
        </init-param>
        <init-param>
            <param-name>to</param-name>
            <param-value>amrita.arora.1192@gmail.com,saurabhk1511@gmail.com</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>BiometricServlet</servlet-name>
        <servlet-class>BiometricServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SalesforceServlet</servlet-name>
        <servlet-class>SalesforceServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>EmailListServlet</servlet-name>
        <servlet-class>EmailListServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>HolidayListServlet</servlet-name>
        <servlet-class>HolidayListServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>FileDownload</servlet-name>
        <servlet-class>FileDownload</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EmailServlet</servlet-name>
        <url-pattern>/EmailServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BiometricServlet</servlet-name>
        <url-pattern>/BiometricServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SalesforceServlet</servlet-name>
        <url-pattern>/SalesforceServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EmailListServlet</servlet-name>
        <url-pattern>/EmailListServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>HolidayListServlet</servlet-name>
        <url-pattern>/HolidayListServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FileDownload</servlet-name>
        <url-pattern>/FileDownload</url-pattern>
    </servlet-mapping>


    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            C:\Users\AroraA\IdeaProjects\Email
        </param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>